{% extends 'base.jinja' %}

{% block content %}
<h1>Kontakte :: Suche</h1>
<p>
<form method="POST" action="{{ url_for('contacts_search', next=request.args.get('next')) }}">
    {{ form.hidden_tag() }}
    {{ form.searchfield.label }} {{ form.searchfield }}
    {% if form.searchfield.errors %}
    {% for error in form.searchfield.errors %}
    <span class=text-error>{{ error }}</span>
    {% endfor %}
    {% endif %}
    {{ form.searchterm.label }} {{ form.searchterm }}
    {% if form.searchterm.errors %}
    {% for error in form.searchterm.errors %}
    <span class=text-error>{{ error }}</span>
    {% endfor %}
    {% endif %}
    <br />
    <input type="submit" value="Suche!" />
</form>
{% if results %}
<hr>
<h3>Suchergebnisse</h3>
<ul>
{% for result in results %}
<li>{{ result.lastname | safe }}, {{ result.firstname | safe }} aus {{ result.city | safe }} ({{ result.birthdate | safe }})</li>
{% endfor %}
</ul>
{% endif %}
</p>
{% endblock %}