{% extends 'base2.jinja' %}

{% block title %}Adressbuch-App Dashboard{% endblock %}

{% block content %}
<h1>Adressbuch-App Dashboard</h1>
<p>
Von hier aus kannst du alle Funktionen von Adressbuch-App nutzen. Viel Spass dabei.<br/><br/>


<div id="navigation">
{% if current_user.is_anonymous() %}
<a href="{{ url_for('index') }}">Startseite</a><br/>
<a href="{{ url_for('login') }}">Login</a><br/>
{% else %}
<b>Navigation:</b>
<br />
<a href="{{ url_for('index') }}">Startseite</a><br/>
<a href="{{ url_for('logged_in') }}">Dashboard</a><br/>
<a href="{{ url_for('password') }}">eigenes Passwort ändern</a><br/>
<a href="{{ url_for('user_list') }}">Liste aller Nutzer</a><br/>
<a href="{{ url_for('logout') }}">Ausloggen</a>
<br /><br />
<b>Adressbuch:</b><br />
<a href="{{ url_for('contacts') }}">Alle Kontakte</a></br>
<a href="{{ url_for('contacts_search') }}">Suche</a></br>
<a href="{{ url_for('contact_add') }}">Kontakt hinzuf&uuml;gen</a></br>
<a href="{{ url_for('contacts_cities') }}">Orte</a></br>
<a href="{{ url_for('contacts_birthdays_upcoming') }}">Kommende Geburtstage</a></br>
<a href="{{ url_for('contacts_birthdays') }}">Geburtstagsliste</a></br>
<a href="{{ url_for('tagebuch') }}">Tagebuch</a>


    {% endif %}

</div>
<div id="content">
{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}
<a href="{{ url_for('logout') }}">Logout</a>
</p>
{% endblock %}