{% extends 'base2.jinja' %}

{% block title %}Adressbuch-App Dashboard{% endblock %}

{% block content %}
<h1>Adressbuch-App Dashboard</h1>
<p>
Von hier aus kannst du alle Funktionen von Adressbuch-App nutzen. Viel Spass dabei.<br/><br/>


<div id="navigation" >
{% if current_user.is_anonymous() %}
<a href="{{ url_for('index') }}">Startseite</a><br/>
<a href="{{ url_for('login') }}">Login</a><br/>
{% else %}
<b>Adressbuch:</b><br />
<a href="{{ url_for('contacts') }}" class="btn btn-warning" role="button">Alle Kontakte</a>
<a href="{{ url_for('contact_add') }}"class="btn btn-warning" role="button">Kontakt hinzuf&uuml;gen</a>
</br>
</br>
<b>Tagebuch:</b><br />
<a href="{{ url_for('diaries') }}" class="btn btn-warning" role="button">Alle Tageb&uuml;cher</a>
<a href="{{ url_for('diary_add') }}"class="btn btn-warning" role="button">Tagebuch hinzuf&uuml;gen</a>


    {% endif %}

</div>
<div id="content">
{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}
</br>
<a href="{{ url_for('logout') }}"class="btn btn-danger" role="button">Logout</a>
</p>
{% endblock %}