{% extends 'base2.jinja' %}

{% block content %}
<h1>Tagebucheintrag bearbeiten/Edit diary entry :: {{ diary.date }} {{ diary.text }}</h1>
<p>
<form method="POST" action="{{ url_for('diary_edit', id=diary.id, next=request.args.get('next')) }}">
    {{ form.hidden_tag() }}
    {{ form.date (type="text", class_="form-control",  placeholder="Datum/ Date")}}
    {% if form.date.errors %}
    {% for error in form.date.errors %}
    <span class=text-error>{{ error }}</span>
    {% endfor %}
    {% endif %}
    <br />
    {{ form.text (type="text", class_="form-control", placeholder="Text")}}
    {% if form.text.errors %}
    {% for error in form.text.errors %}
    <span class=text-error>{{ error }}</span>
    {% endfor %}
    {% endif %}
    <br />
    </div>
        <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn btn-default">Speichern/Save</button>
    </div>
</form>
</p>

<iframe src="https://www.google.com/calendar/embed?height=600&amp;wkst=2&amp;bgcolor=%23FFFFFF&amp;src=o1eobcqn28jf3tutcpdbahp42o%40group.calendar.google.com&amp;color=%230F4B38&amp;src=de.german%23holiday%40group.v.calendar.google.com&amp;color=%232F6309&amp;src=ht3jlfaac5lfd6263ulfh4tql8%40group.calendar.google.com&amp;color=%23333333&amp;src=e_2_de%23weeknum%40group.v.calendar.google.com&amp;color=%232952A3&amp;ctz=Europe%2FBerlin" style=" border:solid 1px #777 " width="800" height="600" frameborder="0" scrolling="no"></iframe>

{% endblock %}