{% extends 'base2.jinja' %}

{% block title %}Dein Kontakte Buch/Your contacts book - Home{% endblock%}
{% block content %}
<p>
<h1>
Herzlich willkommen in deinem persönlichen Kontakte Buch/ Welcome in your personal contact book
</h1>
<br /><br>
Hier kannst du all deine Kontakte hinterlegen. Ausserdem bietet dir diese App noch jede Menge weiterer nützlicher Funktionen./ Here you can save all your contacts. And this app comes with many additional useful functions.
<br>
Probier die App doch sogleich aus!/ Try the app for yourselve right now!
<br>
<br>


{% if current_user.is_anonymous() %}
You are not logged in...<br /><br />
<a href="{{ url_for('login') }}">Login</a>
{% else %}
You are logged in...<br /><br />
<a href="{{ url_for('logout') }}">Logout</a>
{% endif %}


</p>
{% endblock %}