{% extends 'base2.jinja' %}

{% block content %}
<h1>Passwort ändern</h1>
<p>
<form method="POST" action="{{ url_for('password', next=request.args.get('next')) }}">
    {{ form.hidden_tag() }}
    {{ form.password.label }} {{ form.password(type="password", class_="form-control", placeholder="Dein Passwort") }}
    {% if form.old_password.errors %}
    {% for error in form.old_password.errors %}
    <span class=text-error>{{ error }}</span>
    {% endfor %}
    {% endif %}
    <br />
    {{ form.password.label }} {{ form.password(type="password", class_="form-control", placeholder="Dein Passwort") }}
    {% if form.password.errors %}
    {% for error in form.password.errors %}
    <span class=text-error>{{ error }}</span>
    {% endfor %}
    {% endif %}
    <br />
    {{ form.confirm.label }} {{ form.password(type="confirm", class_="form-control", placeholder="Passwort wiederholen") }}
    {% if form.confirm.errors %}
    {% for error in form.confirm.errors %}
    <span class=text-error>{{ error }}</span>
    {% endfor %}
    {% endif %}
    <br />
    </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" class="btn btn-default">Speichern</button>
            </div>
        </div>
    </div>
</form>
</p>
{% endblock %}