{% extends 'base2.jinja' %}

{% block title %}Adressbuch-App Tagebuch{% endblock %}

{% block content %}
<form method="POST" action="{{ url_for('tagebuch', next=request.args.get('next')) }}">


<h1>Dein Adressbuch-App Tagebuch</h1></br>
{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}


    <span class="input-group-addon">Dein Tagebucheintrag</span>
    {{form.tagebuch(class_="form-control", rows="3") }}


</p>

<input type="submit" value="Speichern" class="btn btn-primary">

</form>

<iframe src="https://www.google.com/calendar/embed?height=600&amp;wkst=2&amp;bgcolor=%23FFFFFF&amp;src=o1eobcqn28jf3tutcpdbahp42o%40group.calendar.google.com&amp;color=%230F4B38&amp;src=de.german%23holiday%40group.v.calendar.google.com&amp;color=%232F6309&amp;src=ht3jlfaac5lfd6263ulfh4tql8%40group.calendar.google.com&amp;color=%23333333&amp;src=e_2_de%23weeknum%40group.v.calendar.google.com&amp;color=%232952A3&amp;ctz=Europe%2FBerlin" style=" border:solid 1px #777 " width="800" height="600" frameborder="0" scrolling="no"></iframe>

{% endblock %}