{% extends 'base2.jinja' %}

{% block content %}
<h1>Passwort ändern von/Change password from {{ user.username }}</h1>
<p>
<form method="POST" action="{{ url_for('user_password', user_id=user.id, next=request.args.get('next')) }}">
    {{ form.hidden_tag() }}
    {{ form.password.label }} {{ form.password(size=20) }}
    {% if form.password.errors %}
    {% for error in form.password.errors %}
    <span class=text-error>{{ error }}</span>
    {% endfor %}
    {% endif %}
    <br />
    {{ form.confirm.label }} {{ form.confirm(size=20) }}
    {% if form.confirm.errors %}
    {% for error in form.confirm.errors %}
    <span class=text-error>{{ error }}</span>
    {% endfor %}
    {% endif %}
    <br />
    <input type="submit" value="Go">
</form>
</p>
{% endblock %}